DATA MANIPULATION WITH PANDAS

Step 1: Import Libraries

In [1]:
import pandas as pd

>

Step 2: Load the Data

In [5]:
# Load the CSV file into a Pandas DataFrame
data = pd.read_csv(r"C:\Users\amree\Downloads\Datapreprocessing.csv")

# Display the first few rows of the DataFrame
print(data.head())

  Observation  Y-Kappa  ChipRate  BF-CMratio  BlowFlow  ChipLevel4   \
0    31-00:00    23.10    16.520     121.717  1177.607      169.805
1    31-01:00    27.60    16.810      79.022  1328.360      341.327
2    31-02:00    23.19    16.709      79.562  1329.407      239.161
3    31-03:00    23.60    16.478      81.011  1334.877      213.527
4    31-04:00    22.90    15.618      93.244  1334.168      243.131

   T-upperExt-2   T-lowerExt-2    UCZAA  WhiteFlow-4   ...  SteamFlow-4   \
0        358.282         329.545  1.443       599.253  ...        67.122
1        351.050         329.067  1.549       537.201  ...        60.012
2        350.022         329.260  1.600       549.611  ...        61.304
3        350.938         331.142  1.604       623.362  ...        68.496
4        351.640         332.709    NaN       638.672  ...        70.022

   Lower-HeatT-3  Upper-HeatT-3   ChipMass-4   WeakLiquorF   BlackFlow-2   \
0        329.432         303.099      175.964      1127.197      1319.039
1        330.823         304.879      163.202       665.975      1297.317
2        329.140         303.383      164.013       677.534      1327.072
3        328.875         302.254      181.487       767.853      1324.461
4        328.352         300.954      183.929       888.448      1343.424

   WeakWashF   SteamHeatF-3   T-Top-Chips-4   SulphidityL-4
0     257.325         54.612         252.077             NaN
1     241.182         46.603         251.406           29.11
2     237.272         51.795         251.335             NaN
3     239.478         54.846         250.312           29.02
4     215.372         54.186         249.916           29.01

[5 rows x 23 columns]

In [6]:
data.head()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,31-01:00,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,31-02:00,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,31-03:00,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,31-04:00,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.info

<bound method DataFrame.info of       Series_reference   Period   Data_value STATUS  UNITS  \
0           CPIM.SE901  1960.01    45.923461  FINAL  Index
1           CPIM.SE901  1960.02    45.498637  FINAL  Index
2           CPIM.SE901  1960.03    45.116296  FINAL  Index
3           CPIM.SE901  1960.04    45.158779  FINAL  Index
4           CPIM.SE901  1960.05    45.286226  FINAL  Index
...                ...      ...          ...    ...    ...
12863    CPIM.SE901502  2023.05  1347.000000  FINAL  Index
12864    CPIM.SE901502  2023.06  1361.000000  FINAL  Index
12865    CPIM.SE901502  2023.07  1366.000000  FINAL  Index
12866    CPIM.SE901502  2023.08  1367.000000  FINAL  Index
12867    CPIM.SE901502  2023.09  1370.000000  FINAL  Index

                           Subject  \
0      Consumers Price Index - CPI
1      Consumers Price Index - CPI
2      Consumers Price Index - CPI
3      Consumers Price Index - CPI
4      Consumers Price Index - CPI
...                            ...
12863  Consumers Price Index - CPI
12864  Consumers Price Index - CPI
12865  Consumers Price Index - CPI
12866  Consumers Price Index - CPI
12867  Consumers Price Index - CPI

                                                  Group     Series_title_1
0                      Food Price Index for New Zealand               Food
1                      Food Price Index for New Zealand               Food
2                      Food Price Index for New Zealand               Food
3                      Food Price Index for New Zealand               Food
4                      Food Price Index for New Zealand               Food
...                                                 ...                ...
12863  Food Price Index Level 3 Classes for New Zealand  Ready-to-eat food
12864  Food Price Index Level 3 Classes for New Zealand  Ready-to-eat food
12865  Food Price Index Level 3 Classes for New Zealand  Ready-to-eat food
12866  Food Price Index Level 3 Classes for New Zealand  Ready-to-eat food
12867  Food Price Index Level 3 Classes for New Zealand  Ready-to-eat food

[12868 rows x 8 columns]>

Step 3: Remove Duplicate Rows

In [8]:
# Remove duplicate rows
data_no_duplicates = data.drop_duplicates()

# Display the DataFrame after removing duplicates
data_no_duplicates.head()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,NaN
1,31-01:00,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.11
2,31-02:00,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,31-03:00,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.02
4,31-04:00,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,NaN,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.01

Step 4: Handle Missing Values

In [9]:
data_no_duplicates.isnull()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
299,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
300,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
301,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
307,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [10]:
# Check for missing values
data_no_duplicates.isnull().sum()

Observation          0
Y-Kappa              0
ChipRate             4
BF-CMratio          14
BlowFlow            13
ChipLevel4           1
T-upperExt-2         1
T-lowerExt-2         1
UCZAA               24
WhiteFlow-4          1
AAWhiteSt-4        141
AA-Wood-4            1
ChipMoisture-4       1
SteamFlow-4          1
Lower-HeatT-3        1
Upper-HeatT-3        1
ChipMass-4           1
WeakLiquorF          1
BlackFlow-2          1
WeakWashF            1
SteamHeatF-3         1
T-Top-Chips-4        1
SulphidityL-4      141
dtype: int64

In [11]:
# Fill missing values with the mean of their respective columns
data_filled = data_no_duplicates.fillna(data_no_duplicates.mean(numeric_only=True))

# Display the DataFrame after filling missing values
data_filled.head()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.520,121.717,1177.607,169.805,358.282,329.545,1.443000,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,30.463594
1,31-01:00,27.60,16.810,79.022,1328.360,341.327,351.050,329.067,1.549000,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.110000
2,31-02:00,23.19,16.709,79.562,1329.407,239.161,350.022,329.260,1.600000,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,30.463594
3,31-03:00,23.60,16.478,81.011,1334.877,213.527,350.938,331.142,1.604000,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.020000
4,31-04:00,22.90,15.618,93.244,1334.168,243.131,351.640,332.709,1.490588,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.010000

In [12]:
# Check for missing values after filling
data_filled.isnull().sum()

Observation        0
Y-Kappa            0
ChipRate           0
BF-CMratio         0
BlowFlow           0
ChipLevel4         0
T-upperExt-2       0
T-lowerExt-2       0
UCZAA              0
WhiteFlow-4        0
AAWhiteSt-4        0
AA-Wood-4          0
ChipMoisture-4     0
SteamFlow-4        0
Lower-HeatT-3      0
Upper-HeatT-3      0
ChipMass-4         0
WeakLiquorF        0
BlackFlow-2        0
WeakWashF          0
SteamHeatF-3       0
T-Top-Chips-4      0
SulphidityL-4      0
dtype: int64

In [13]:
data_filled.notnull()

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
299,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
300,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
301,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
307,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [14]:
data_filled.isnull().sum().sum()

0

Step 5: Calculate Summary Statistics

In [15]:
# Calculate summary statistics for the numerical columns
summary_statistics = data_filled.describe()

# Display the summary statistics
summary_statistics

,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,AAWhiteSt-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,...,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,20.568605,14.338670,87.271564,1235.537278,259.365993,356.907033,324.010783,1.490588,593.148090,6.143012,...,66.834567,325.370410,300.381743,162.120610,875.491563,1170.387177,266.104633,49.664537,251.229687,30.463594
std,2.990751,1.480153,7.654578,99.788084,85.501080,8.939520,7.637741,0.103722,66.838056,0.059985,...,5.634241,4.629615,4.639450,14.105893,122.976690,149.039950,162.950731,4.582220,1.290994,0.488543
min,12.170000,9.983000,68.645000,0.000000,0.000000,339.168000,284.633000,1.182000,405.111000,5.890000,...,48.568000,318.051000,293.312000,113.922000,486.938000,838.948000,0.000000,35.510000,248.359000,29.010000
25%,18.450000,13.367000,82.027000,1197.775000,215.485000,350.317000,321.539000,1.434000,543.235000,6.130000,...,62.860000,321.235000,296.435000,153.147000,791.758000,1038.527000,142.531000,46.379000,250.302000,30.360000
50%,20.740000,14.338670,87.057000,1254.380000,271.792000,357.163000,325.608000,1.490588,594.218000,6.143012,...,67.678000,323.285000,298.517000,163.512000,870.849000,1144.876000,279.993000,50.132000,251.345000,30.463594
75%,23.000000,15.483000,91.957000,1288.104000,320.890000,362.311000,329.128000,1.556000,642.944000,6.143012,...,71.649000,329.811000,304.220000,172.265000,969.726000,1318.602000,405.866000,53.280000,252.331000,30.463594
max,27.600000,16.958000,121.717000,1351.240000,419.014000,399.135000,337.012000,1.747000,731.394000,6.340000,...,76.147000,333.854000,311.146000,189.268000,1226.277000,1395.767000,715.715000,63.332000,254.122000,32.840000

Step 6: Display the Cleaned Dataset

In [16]:
# Display the cleaned DataFrame
cleaned_data=data_filled
cleaned_data

,Observation,Y-Kappa,ChipRate,BF-CMratio,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,UCZAA,WhiteFlow-4,...,SteamFlow-4,Lower-HeatT-3,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4
0,31-00:00,23.10,16.52000,121.717,1177.607,169.805,358.282,329.545,1.443000,599.253,...,67.122,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077,30.463594
1,31-01:00,27.60,16.81000,79.022,1328.360,341.327,351.050,329.067,1.549000,537.201,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.110000
2,31-02:00,23.19,16.70900,79.562,1329.407,239.161,350.022,329.260,1.600000,549.611,...,61.304,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,30.463594
3,31-03:00,23.60,16.47800,81.011,1334.877,213.527,350.938,331.142,1.604000,623.362,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.020000
4,31-04:00,22.90,15.61800,93.244,1334.168,243.131,351.640,332.709,1.490588,638.672,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.010000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,12-09:00,20.90,15.16700,84.640,1283.706,339.440,354.803,311.041,1.635000,532.419,...,65.561,332.924,307.626,145.299,832.906,1344.708,388.911,49.524,251.833,30.290000
299,12-10:00,24.98,14.33867,85.034,1278.345,368.564,357.723,321.387,1.490588,520.365,...,65.729,332.523,307.169,151.544,905.639,1344.469,418.979,48.135,251.614,30.470000
300,12-11:00,21.00,14.33867,88.013,1307.722,278.842,357.438,323.757,1.490588,553.070,...,65.795,331.263,306.400,157.954,908.691,1344.588,462.712,54.373,251.197,30.463594
301,12-12:00,21.40,14.33867,85.490,1255.986,273.484,361.365,322.689,1.490588,590.199,...,71.456,333.032,308.732,174.069,986.206,1348.747,457.313,53.194,251.324,30.460000
307,31-05:00,20.89,14.30800,94.172,1327.832,251.120,351.263,332.485,1.522000,631.514,...,71.286,328.699,300.706,180.229,903.605,1323.082,232.729,54.503,250.084,30.463594